/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/* Setting type to a minor third modular scale - 4:3
http://www.modularscale.com/?18&px&1.2&web&text */

html {
  font-size: 1.125em;  /* 18px */
  line-height: 1.222em;  /* 22px @ 18px = 1.2222 */
  color: #262526;
  background-color: #f3f3f3;
  font-family: Tahoma, sanserif;
}

h1 {
  font-size: 1.333em; /*23.994px/18px */
  line-height: 1.333em;  /* 31.984 @ 23.994px */
  text-transform: uppercase;
  font-weight: bold;
}

p,
ul {
  padding-bottom: 1.222em;  /* 22px */
}

li {
  padding-bottom: 0.611em; /* 11px @ 18px */
}


a {
  text-decoration: none;
  color: #d7d8da;
}

img {
  max-width: 100%;
}

header {
  background-color: #262526;
}

figure {
  padding: 1.222em 0;
}


/* ===== LAYOUT STYLES ===== */
#page {
  padding: 1.222em 0.916em; /* 16.5px */
}

#mypicture {
  margin-left: -0.916em;
  margin-right: -0.916em;
}

#mypicture figcaption {
  padding-left: 0.916em;
  padding-right: 0.916em;
}

header {
  margin: 0 -0.916em;
  margin-top: -1.222em;
  padding: 0.916em;
  padding-bottom: 0;
}

/* ===== MODULAR STYLES ===== */
#mypicture {
  display: block;
}

header li {
  color: #7f8084;
}

li:last-child {
  padding-bottom: 0;
}

header li:last-child {
  margin-bottom: 1.22em;;
}


#school {
  font-weight: bold;
}

a:hover {
  color: #f3f3f3;
}

#navbar ul li {
  display: block;
  padding: 0.916em;
  margin: -0.916em;
}

#active {
  background-color: #d7d8da;
}

#active a {
  color: #262526;
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 768px) {
  #page {
    padding: 0.916em;
  }

  header {
    padding-bottom: -1.222em;
  }

  #mypicture {
    padding-left: 0.916em;
    padding-right: 0.916em;
  }

  #navbar ul {
    text-align: center;
  }

  #navbar ul li {
    display: inline;
    padding: 1.222em 5%;
    margin: 0.916em;
  }

  #active {
    background-color: #f3f3f3;
  }
}
