/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


/* ===== BASE STYLES ===== */
/* Setting type to a minor third modular scale - 4:3
http://www.modularscale.com/?18&px&1.2&web&text */

html {
  font-size: 1.125em;  /* 18px */
  line-height: 1.222em;  /* 22px @ 18px = 1.2222 */
  color: #4c4c4c;
  background-color: #f6f6f5;
  font-family: Gotham, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 2em; /*36px/18px */
  line-height: 1.222em;  /* 44 @ 36px */
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

h2,
h3 {
  padding-top: 0.611em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
}

h4 {
  padding-bottom: 0;
  color: #49311c;
  font-weight: 500;
}

li h4 {
  margin-top: -0.611em;
}

p {
  font-size: 0.888em;
}

p,
ul {
  padding-bottom: 1.222em;  /* 22px */
}

li {
  padding-bottom: 0.611em; /* 11px @ 18px */
}


a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

header {
  background: url(../img/headerphoto1-2000-10.jpg) #49311c;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

header li {
  color: #f5f5f5;
}

figure {
  padding-top: 0.6111em;
}

figcaption {
  font-size: 0.666em;
}

footer {
  padding: 0.611em 1.222em;
  background-color: rgba(239,238,236,0.8);
  color: #7f7f7f;
  font-size: 0.666em;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.666em;
  width: 100%;
}

/* ===== LAYOUT STYLES ===== */
#page {
  padding: 1.222em 0.916em; /* 16.5px */
}

#mypicture figcaption {
  text-align: center;
}

header {
  margin: 0 -0.916em;
  margin-top: -1.222em;
  padding: 0.916em;
  padding-bottom: 4em;
  height: 100%;
}

h3 {
  padding-bottom: 0.6111em;
}

h3:first-child,
h3:last-child {
  margin-bottom: -0.611em;
}

h2:first-child,
h3:first-child {
  padding-top: 1.222em;
}

.goals {
  padding-bottom: 0.6111em;
}

/* ===== MODULAR STYLES ===== */
#mypicture {
  display: block;
  width: 100%;
  max-width: 100%;
}

#school {
  color: #b2b2b2;
}

#scroll {
  padding-top: 9em;
  margin-bottom: -6em;
  font-size: 0.75em;
  text-align: center;
}

#pubs {
  margin-bottom: 0.611em;
}

li:last-child {
  padding-bottom: 0;
}

nav a:hover {
  text-decoration: underline;
}

.bio {
  padding-top: 9em;
}

.summary {
  margin-bottom: -0.611em;
}

.anomaly {
  margin-bottom: -0.3055em;
}

.courses {
  margin-top: -1.832em;
}

.poetry figure {
  width: 100%;
}

.hobbies h2 {
  padding-bottom: 0.6111em;
}

.hobbies li {
  font-size: 0.888em;
  margin-top: -0.458em;
  margin-bottom: -0.458em;
}

.publications {
  margin-bottom: 1.222em;
}

.tools {
  margin-bottom: -1.833em;
}

.location {
  font-weight: 400;
}

.activities li {
  font-size: 0.888em;
  margin-top: -0.6111em;
  margin-bottom: 0.3055em;
}

.proj-desc li {
  font-size: 0.888em;
  margin-top: -1.222em;
  margin-bottom: 0.3055em;
}

.features,
.tools {
  margin-top: 1.222em;
}

.features li,
.tools li {
  list-style-type: square;
  margin-top: -1.222em;
  list-style-position: inside;
}

.technicalskills h4 {
  margin-bottom: -1.222em;
}

.technicalskills ul .tools {
  margin-bottom: 0.3055em;
}

header li:last-child {
  margin-bottom: 1.22em;;
}

.activities li:last-child {
  margin-bottom: -0.3055em;
}

.awards li:first-child {
  margin-bottom: -0.3055em;
}

.projects .tools li:last-child {
  margin-bottom: -0.3055em;
}

.tools li:last-child {
  margin-bottom: -1.222em;
}


.technicalskills h4:first-child {
  margin-top: 0.611em;
}

#navbar ul li {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 0.5555em; /* 12px @ 18px */
  display: inline-block;
  float: right;
  padding: 0.916em;
  padding-left: 1.832em;
  margin: -0.458em;
}

#github {
  color: #4c4c4c;
}

#github:hover {
  text-decoration: underline;
}

#quote1 {
  font-style: italic;
}

#quote2 {
  font-style: italic;
}

.date {
  color: #614126;
  font-weight: 400;
}

.socialmedia {
  color: #4c4c4c;
}

.socialmedia:hover {
  text-decoration: underline;
}

.sub-h {
  margin-top: -0.6111em;
  font-weight: 500;
  font-size: 0.888em;
  margin-bottom: -1.222em;
}

.sub-subh {
  font-weight: 100;
}

.gpa {
  display: inline-block;
  font-size: 0.888em;
  padding-right: 1.832em;
  margin-top: -0.6111em;
  font-weight: 400;
  margin-bottom: -1.222em;

}

.gpanum {
  font-weight: 100;
  padding-top: -0.611em;
}

.company {
  font-weight: 400;
}

.position, .company, .location {
  margin-top: -0.6111em;
}

.company, .location {
  margin-top: -0.6111em;
  font-size: 0.888em;
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 22.5em) {
  #navbar ul li {
    font-size: 0.666em; /* 12px @ 18px */
  }
}

@media screen and (min-width: 48em) {

  main {
    margin: 1.222em 1.832em;
  }

  header {
    padding-bottom: -1.222em;
  }

  h1 {
    font-size: 2.222em;
  }

  h4 {
    padding-top: 0.6111em;
  }

  .bio {
    padding-left: 1.832em;
    padding-top: 7em;
  }

  header li {
    color: #ffffff;
  }

  #navbar ul li {
    padding: 1.222em 5%;
    margin: 0.916em;
  }

  footer {
    padding-left: 3.664em;
  }
}

@media screen and (min-width: 53.3125em) {

  main {
    margin-left: 7em;
    margin-right: 7em;

  }

  footer {
    text-align: center;
  }
}

@media screen and (min-width: 64em) {
  main {
    margin: 1.222em 14em;
  }

  h1 {
    font-size: 2.444em; /*44px/18px */
  }

  #navbar ul li {
    font-size: 0.777em; /* 14px @ 18px */
  }

  .summary {
    font-size: 1.222em;
    margin-bottom: -0.3055em;;
  }

  #school {
    font-size: 1.222em;
  }

  footer {
    text-align: center;
  }
  
  @media screen and (min-width: 85em) {
  main {
    margin: 1.222em 21em;
  }
  
  @media screen and (min-width: 120em) {
  main {
    margin: 1.222em 14em;
  }

  h1 {
    font-size: 2.444em; /*44px/18px */
  }

  #navbar ul li {
    font-size: 0.777em; /* 14px @ 18px */
  }

  .summary {
    font-size: 1.222em;
    margin-bottom: -0.3055em;;
  }

  #school {
    font-size: 1.222em;
  }

  footer {
    text-align: center;
  }
}

